django-filter==2.3.0
django==3.0.9
djangorestframework==3.11.1
ethereum==2.3.2
hexbytes==0.2.1
packaging
psycopg2-binary==2.8.5
py-eth-sig-utils==0.4.0
requests==2.24.0
typing-extensions==3.7.4.3
web3==5.12.0
